
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-menu-outline:before { content: '\e805'; } /* '' */
.icon-menu-1:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-up-dir:before { content: '\e808'; } /* '' */
.icon-basket-1:before { content: '\e80a'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */